body{
    background-color: rgb(245, 224, 105);
    text-align: center;
}
#f{
    background-color: rgb(243, 200, 7);
    display: inline-block;
    height: 180px;
    width: 446px;
    margin: 230px 0px 0px 0px;
}
#lab{
    padding: 10px; margin: 10px;
}
#num{
    margin: 16px;
    width: 100px;
    }
#cel{
     margin: 10px;
}
button{
    margin: 10px;
}